import java.util.Scanner;
    public class tahminiVarisSuresiHesaplama {
    public static void main(String[] args){

        Scanner input=new Scanner(System.in);
        int yol,saat;

        System.out.print("Yol Mesafenizi Giriniz (km) : ");
        yol= input.nextInt();

        System.out.print("Gitmek İstediğiniz Süreyi Giriniz (saat) : ");
        saat= input.nextInt();

        System.out.print("Ortalama Gitmeniz Gereken Hız: "  + (yol/saat) +"km/s'dir");




    }
}
